<!DOCTYPE html>
<html class='index'>
<head>
    <title>Say No to Free Basics</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./semantic/semantic.min.css">
    <script type="text/javascript" src="./semantic/semantic.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body class='index'>
    <div class="backdrop">
        <div class='nav-menu'>
            <div class='main-logo'>
                <a href='#'><img src='main-logo.png'></a>
            </div>
            <ul>
                <li><a href='http://blog.savetheinternet.in/the-basics-of-net-neutrality/'>About Net Neutrality</a></li>
                <li><a href='http://blog.savetheinternet.in/'>Blog</a></li>
                <li><a href='http://blog.savetheinternet.in/faq/'>FAQ</a></li>
            </ul>
        </div>
        <div class="logo">
            <!-- No Free Basics Logo -->
            <img class='ui fluid image' src="logo.svg">
            <h3 style="text-align: center; color: white"><b>What is Net Neutrality?</b></h3>
            <p style="text-align: center; color: white">Internet is a platform where ISPs provide no competitive advantage to specific apps/services, either through pricing or QoS &#10;
            <a style="color: #27c5a5" href="https://twitter.com/hashtag/NetNeutrality?src=hash"><b>#NetNeutrality</b></a>
            </br>
            &mdash; Vishal Misra (@vishalmisra) <a style="color: #27c5a5" href="https://twitter.com/vishalmisra/status/631285727024672768"><b>August 12, 2015</b></a></p>
            <!-- Caption -->
            <!-- <p class='caption'>(SAVE THE INTERNET)</p> -->
            <!-- Prompt -->
            <p class='prompt'><b>Login</b> or <b>Sign Up</b> to Show your Support.</p>
            <!-- Login Button Group -->
            <div class='up-group'>
            <div class='lns'>
                <div class="ui fluid large buttons">
                    <a href='/login' class="ui inverted button" style='font-family: Montserrat; text-align: center;'>Login</a>
                    <div class="or" style='font-family: Montserrat;'></div>
                    <a href='/signup' class="ui inverted button" style='font-family: Montserrat;'>Sign Up</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>